<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
    <style media="screen">
      .wrapper {
        padding: 2rem 3%;
      }

      .bx--form-item {
        margin-bottom: 1.5rem;
      }

      .warning {
        color: orange;
      }
      .error {
        color: red;
      }
      .info {
        color: black;
      }
    </style>
  </head>
  <body>
    <form id="the-form">
      <div class="wrapper" style="background: white;">
        <div class="bx--form-item">
            <p>
              The Wiz Research Team recently found four critical vulnerabilities in OMI, which is one of Azure's most ubiquitous yet least known software agents and is deployed on a large portion of Linux VMs in Azure.
            </p>
            <p>
              The vulnerabilities are very easy to exploit, allowing attackers to remotely execute arbitrary code within the network with a single request and escalate to root privileges.
            </p>
            <p>
              For more informations, please visit the researchers' <a href="https://www.wiz.io/blog/omigod-critical-vulnerabilities-in-omi-azure">blog post</a>.
            </p>
        </div>
        <div class="bx--form-item">
            <p>
              If you want to know if your Linux VM is vulnerabile, enter the IP address or URL below and press the "Check now" button.
            </p>
        </div>
        <div class="bx--form-item">
          <input id="fqdn" name="fqdn" type="text" class="bx--text-input" placeholder="www.myazurebox.com">
          <label for="fqdn" class="bx--label">Please enter the FQDN you want to check</label>
        </div>
        <div class="bx--form-item">
          {{ recaptcha }} <!-- Refer to 'recaptcha' variable in main.py -->
        </div>
        <div class="bx--form-item">
          <button id="check" class="bx--btn bx--btn--primary" type="button">Check now</button>
        </div>
        <div id="checking" style="display: none;">
          <div aria-atomic="true" aria-labelledby="loading-id-3" aria-live="assertive" class="bx--loading bx--loading--small"><label id="loading-id-3" class="bx--visually-hidden">Active loading indicator</label><svg class="bx--loading__svg" viewBox="0 0 100 100"><title>Active loading indicator</title><circle class="bx--loading__background" cx="50%" cy="50%" r="44"></circle><circle class="bx--loading__stroke" cx="50%" cy="50%" r="44"></circle></svg></div>
        </div>
        <div id="result" style="display: none;">
          <p class="info">
            This is the check result.
          </p>
        </div>
      </div>
    </form>
    <script>
      function disableSubmit() {
        $("#check").prop('disabled',true);
      }
      function enableSubmit() {
        $("#check").prop('disabled',false);
      }
      function showChecking() {
        $("#checking").show();
      }
      function hideChecking() {
        $("#checking").hide();
      }
      function updateResult(type,text) {
        $("#result p").removeClass('error warning info').addClass(type);
        $("#result p").text(text);
      }
      function showResult() {
        $("#result").show();
      }
      function hideResult() {
        $("#result").hide();
      }
      function resetCaptcha() {
        grecaptcha.reset();
      }
      function preChecking() {
        disableSubmit();
        hideResult();
        showChecking();
      }
      function postChecking() {
        hideChecking();
        showResult();
        enableSubmit();
        resetCaptcha();
      }
      function isValidFQDN(fqdn) {
        return true;
      }
      function isCaptchaChecked() {
        return grecaptcha && grecaptcha.getResponse().length !== 0;
      }

      DONT_KNOW = 0;
      OMI_EXPOSED_BUT_NOT_VULNERABLE = 1;
      OMI_EXPOSED_AND_VULNERABLE = 2;

      GENERIC_ERROR = -1;
      FQDN_NOT_PROVIDED = -2;
      INVALID_FQDN = -3;
      CAPTCHA_ERROR = -999;

      function checkFQDN(fqdn, callback) {
        $.ajax({
            url : '/check',
            type : 'POST',
            data : $('form#the-form').serialize(),
            dataType : 'json',
            success : function(data) {
              if (data) {
                callback(data.result, data.fqdn, data.port);
              } else {
                callback(GENERIC_ERROR, fqdn, 0);
              }
            },
            error : function(request,error) {
                callback(GENERIC_ERROR, fqdn, 0);
            }
        });
      }

      $("#check").click(function() {
        if (!isCaptchaChecked()) {
          updateResult('error',`Please prove that you are not a robot.`);
          return;
        }

        fqdn = $("#fqdn").val();
        if (!isValidFQDN(fqdn)) {
          updateResult('error',`Invalid fqdn provided: please enter a hostname or an IP address.`);
          return;
        }

        preChecking();
        checkFQDN(fqdn, function (result, fqdn, port) {
          switch (result) {
            case OMI_EXPOSED_BUT_NOT_VULNERABLE:
              updateResult('warning',`Your machine ${fqdn} exposes OMI on port ${port} but it is not vulnerable: it is recommended to not expose it and review your Network Security Group, unless you have a good reason to do so and you know what you are doing.`);
              break;

            case OMI_EXPOSED_AND_VULNERABLE: // vulnerable
              updateResult('error',`Your machine ${fqdn} exposes OMI on port ${port} and is vulnerable! It is recommended to patch immediately and also review your Network Security Group, unless you have a good reason to do so and you know what you are doing.`);
              break;

            case CAPTCHA_ERROR:
              updateResult('error',`Please prove that you are not a robot.`);
              break;

            default: // don't known
              updateResult('info',`Your machine ${fqdn} is not reachable or does not expose OMI on any port.`);
              break;
          }
          postChecking();
        });
      });
    </script>
  </body>
</html>
